
<div>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Juan dela Cruz">            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contact Number</mat-label>
            <input matInput placeholder="Ex. 09191234567">            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Ex. juandelacruz@gmail.com">            
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput>            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput>            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Duration</mat-label>
            <input matInput type="number" min="1" max="15" value="1">            
        </mat-form-field>
    </form>
</div>


<!-- <button mat-flat-button color="primary" (click)="save()">Book Now</button>
<button mat-button color="primary" (click)="cancel()">Cancel</button> -->
